# Lab 4

In [1]:

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy import stats
from IPython.display import display

/var/folders/hk/p7fcnhm10z92trzs_9kwqlyr0000gn/T/ipykernel_35299/1548296872.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
data = pd.read_csv('insurance.csv')
display(data.head())

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [4]:
def p_value(df1, df2):
    mean_1 = df1['charges'].mean()
    mean_2 = df2['charges'].mean()
    std_2 = df2['charges'].std()

    z_score = (mean_1 - mean_2) / std_2

    P_z_ = stats.norm.cdf(z_score)
    P_z = 1 - P_z_
    print('Z_score=', z_score)
    print('P(Z<Z_score)=', P_z_)
    print('P(Z>Z_score)=', P_z)

    return z_score, P_z_, P_z

### 1. An insurance expert said that overall, the insurance charges for men is higher than the insurance charges for women

The P(Z<Z_score)=0.55, not extremely small, so we would not reject the statement.

In [5]:
df1 = data[data.sex=='male']
df2 = data[data.sex=='female']

p_value(df1, df2)

Z_score= 0.12464814938936905
P(Z<Z_score)= 0.5495989460383138
P(Z>Z_score)= 0.45040105396168617

(0.12464814938936905, 0.5495989460383138, 0.45040105396168617)

### 2. An insurance expert said that overall, the insurance charges for people in ‘southwest’ region is higher than the insurance charges for people in the ‘northwest’ region

The P(Z<Z_score)=0.50, not extremely small, so we would not reject the statement.

In [6]:
df1 = data[data.region=='northwest']
df2 = data[data.region=='southwest']

p_value(df1, df2)

Z_score= 0.006112044821763232
P(Z<Z_score)= 0.502438337917565
P(Z>Z_score)= 0.497561662082435

(0.006112044821763232, 0.502438337917565, 0.497561662082435)

### 3. An insurance expert said that overall, the insurance charges for people having 0 children is higher than the insurance charges for people having children.

The P(Z<Z_score)=0.55, not extremely small, so we would not reject the statement.

In [7]:
df1 = data[data.children>0]
df2 = data[data.children==0]

p_value(df1, df2)

Z_score= 0.1317413929547438
P(Z<Z_score)= 0.552405578003659
P(Z>Z_score)= 0.44759442199634103

(0.1317413929547438, 0.552405578003659, 0.44759442199634103)