# Import

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
import pandas as pd
from IPython.display import display
import math

/var/folders/hk/p7fcnhm10z92trzs_9kwqlyr0000gn/T/ipykernel_82706/1095401654.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
data = pd.read_csv('/Users/dongyanshen/Desktop/DYS/UoW-AI Course/Applied Statistics for Data Science/Lab6/cleaned_census_income.csv')
data.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
1,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
2,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
3,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
4,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K

In [17]:
def cal_margin_error(s, n):
    t_ = st.t.ppf(q=1-0.025, df=n-1)
    margin_error = t_ * s/(n**0.5)

    return margin_error, t_

# 3)

In [7]:
sample_1 = data[(data.workclass == 'Private') & (data.income == '>50K')]

X = sample_1.age

n = X.count()
x_bar = X.mean()
s = X.std()
print(f'Number of sample: n is {n}')
print(f'Mean of sample: x_bar is {x_bar}')
print(f'std of sample: s is {s}')

Number of sample: n is 4876
Mean of sample: x_bar is 42.8201394585726
std of sample: s is 9.975675670762337

In [19]:
margin_error, t_ = cal_margin_error(s, n)

print(f'95% Confidence interval of mean age is ({round(x_bar-margin_error, 2)}, {round(x_bar+margin_error, 2)})')

95% Confidence interval of mean age is (42.54, 43.1)

## Hypothesis test

1. Hypothesis

H_0: the average age of American adults working for the Private sector and having Income > 50K was about 25.  
H_a: mean age > 25

2. Summarizing

All conditions satisfied: random sample & variable varies normally in population.  
Std of population is unknown so we calculate t-score.   
t-score = 124.74

In [20]:
u0 = 25
n = X.count()
x_bar = X.mean()
s = X.std()

t = (x_bar - u0) / (s / n**0.5)
t

124.73853122926442

3. Finding p-value

p-value = 1 - P(t(n-1)<=t) = 0.0

In [21]:
import scipy.stats as st

p_value = 1 - st.t.cdf(x=t, df=n-1)
p_value

0.0

4. Conclusion

The p-value is smaller than alpha=0.05, there is a significant difference between what was observed in the sample and what was claimed in H_0. So we have enough statistical evidence to reject H_0.

# 4)

In [27]:
sample_1 = data[(data.workclass == 'Private') & (data.income == '>50K')]

Y = sample_1['education.num']

n = Y.count()
y_bar = Y.mean()
s = Y.std()
print(f'Number of sample: n is {n}')
print(f'Mean of sample: y_bar is {y_bar}')
print(f'std of sample: s is {s}')

Number of sample: n is 4876
Mean of sample: y_bar is 11.416119770303528
std of sample: s is 2.281371291898424

In [28]:
margin_error, t_ = cal_margin_error(s, n)

print(f'95% Confidence interval of mean age is ({round(y_bar-margin_error, 2)}, {round(y_bar+margin_error, 2)})')

95% Confidence interval of mean age is (11.35, 11.48)

## Hypothesis test

1. Hypothesis

H_0: the average education of American adults working for the Private sector and having Income > 50K was about 3 years.  
H_a: mean education year > 3.

2. Summarizing

All conditions satisfied: random sample & variable varies normally in population.  
Std of population is unknown so we calculate t-score.   
t-score = 257.6

In [29]:
u0 = 3
n = Y.count()
y_bar = Y.mean()
s = Y.std()

t = (y_bar - u0) / (s / n**0.5)
t

257.601141747598

3. Finding p-value

p-value = 1 - P(t(n-1)<=t) = 0.0

In [30]:
import scipy.stats as st

p_value = 1 - st.t.cdf(x=t, df=n-1)
p_value

0.0

4. Conclusion

The p-value is smaller than alpha=0.05, there is a significant difference between what was observed in the sample and what was claimed in H_0. So we have enough statistical evidence to reject H_0.